@tailwind base;
@tailwind components;
@tailwind utilities;

input {
    padding: 10px;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
}

input[type=date]::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

select {
    padding: 10px;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    cursor: pointer;
}

.search-input {
    height: 2.5rem;
    padding: 8px 8px 8px 12px;
    border: 1px solid #c3c3c3;
    border-radius: 0px;
}

.tremor-Button-root:focus {
    border: none;
}

.tremor-dialog-panel {
    min-width: 50% !important;
}

.ql-editor {
    font-size: 18px !important;
}

.ui-selected\:text-tremor-brand[data-headlessui-state~="selected"] {
    color: #00ADB5 !important;
}

.ui-selected\:border-tremor-brand[data-headlessui-state~="selected"] {
    border-color: #00ADB5 !important;
}

table,
.divTable {
    width: fit-content;
}

.tr {
    display: flex;
}

tr,
.tr {
    width: fit-content;
    height: 30px;
}

th,
.th,
td,
.td {
    padding: 0.5rem;
    text-align: center;
}

th,
.th {
    padding: 0.5rem;
    position: relative;
    font-weight: bold;
    text-align: center;
    height: 30px;
    @apply bg-slate-100;
}


.resizer {
    position: absolute;
    top: 0;
    height: 100%;
    width: 5px;
    background: rgba(0, 0, 0, 0.5);
    cursor: col-resize;
    user-select: none;
    touch-action: none;
}

.resizer.ltr {
    right: 0;
}

.resizer.rtl {
    left: 0;
}

.resizer.isResizing {
    background: #00ADB5;
    opacity: 1;
}

@media (hover: hover) {
    .resizer {
        opacity: 0;
    }

    *:hover>.resizer {
        opacity: 1;
    }
}

.modifier{
    @apply hover:bg-[transparent] border px-[1rem] py-[.35rem] rounded-[5px] text-lg;
}

.editTitle::first-letter{
    text-transform:capitalize;
}
.editTitle {
    color: #00ADB5;
    font-weight: bold;
}